[Unit]
Description=meeps.py daily run
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pietro/Projects/meeps.py/meeps.py # File location
Environment="USER=MY_EMAIL@gmail.com"                              # Your username
Environment="PASSWORD=MY_PASSWORD"                                 # Your password

[Install]
WantedBy=multi-user.target
